<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="" rel="stylesheet">
    <title>Minhas Finanças</title>

    <style>
        .titulo {
            text-shadow: 2px 2px 5px gray;
        }
    </style>

</head>

<body>

    <div>
        {% extends "base.html" %}
    </div>

    {% block content %}

    <div>
        <p>App simples para gerir finanças pessoais de forma <b>simples</b> e <b>objetiva</b>.</p>
    </div>



    {% endblock content %}
</body>

</html>